SDZ_Lib/.vs
SDZ_Lib/Binaries
SDZ_Lib/Saved
SDZ_Lib/Intermediate
SDZ_Lib/SDZ_Lib.sln
SDZ_Lib/.vsconfig
SDZ_Lib/Build
Awful_Lib/.vs
Awful_Lib/Backup
Awful_Lib/Binaries
Awful_Lib/Intermediate
Awful_Lib/Saved
Awful_Lib/DerivedDataCache
*.sln
Awful_Lib/.vsconfig
Awful_Lib/UpgradeLog.htm
Awful_Lib/Plugins/Awful_SplineMovement/Binaries
Awful_Lib/Plugins/Awful_SplineMovement/Intermediate
Packaged/
